@page "/"
@using BlazorWebApplication1.Components

<HeadingComponent />

<h1>Hello, world!</h1>



Welcome to your new app.

<Counter IncrementAmount="10"/>

<HelloWorld Name="Kaelan"/>

<h3>Attributes</h3>
@*<InputSplatting Type="email"/>
<InputSplatting Type="password" />*@

<h3>Splattributes</h3>
<InputSplatting Type="email" class="EmailAddressField"/>
<InputSplatting Type="password" class="PasswordField"/>